@media print {
  page {
    box-shadow: none;
    display: none;
  }

  body {
    background: rgb(204, 204, 204);
    font-family: Calibri, sans-serif;
    font-size: 0.9em;
  }

  sidebar {
    width: 45%;
    height: 100%;
    background-color: #565f67;
    box-shadow: inset 0 0 0 10px #565f67;
    position: relative;
  }

  .about {
    background-color: #7e99b0;
    box-shadow: inset -4px 0 0 4px #7e99b0;
    color: white;
  }

  i.high:after {
    content: "";
    display: block;
    width: 83%;
    height: 5px;
    border-radius: 6px;
    background: linear-gradient(
      90deg,
      #9be69f,
      #9be69f 25%,
      #6fd7a3 25%,
      #6fd7a3 50%,
      #9be69f 50%,
      #9be69f 75%,
      #6fd7a3 75%,
      #6fd7a3
    );
    z-index: 2;

    box-shadow: inset 0 0 0 4px #6fd7a3;
  }

  i.mid:after {
    content: "";
    display: block;
    width: 63%;
    height: 5px;
    border-radius: 6px;
    background: linear-gradient(
      90deg,
      #fef056,
      #fef056 33%,
      #fed12f 33%,
      #fed12f 66%,
      #fef056 66%,
      #fef056
    );
    z-index: 2;
    box-shadow: inset 0 0 0 4px #fed12f;
  }

  i.low:after {
    content: "";
    display: block;
    width: 43%;
    height: 5px;
    border-radius: 6px;
    background: linear-gradient(
      90deg,
      #f98090,
      #f98090 50%,
      #f7596e 50%,
      #f7596e
    );
    z-index: 2;
    box-shadow: inset 0 0 0 4px #f7596e;
  }

  #printButton {
    display: none;
  }
}

body {
  background: rgb(204, 204, 204);
  font-family: Calibri, sans-serif;
  font-size: 0.9em;
}

page {
  background: white;
  /* display: block; */
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  display: flex;
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

sidebar {
  width: 45%;
  height: 100%;
  background-color: #565f67;
  position: relative;
}

/*-------------------------------------------------------*/

.imageFrame {
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
  position: absolute;
  margin: 7%;
  top: 0%;
  left: 3%;
}

.imageFrame img {
  width: 104%;
  height: auto;
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: 0;
  transform: rotate(-20deg);
}

sidebar section {
  position: absolute;
  top: 24%;
  padding: 5%;
  width: 90%;
}

/*-------------------------------------------------------*/

sidebar dd {
  margin-left: 3%;
}
sidebar dl.flex dd {
  display: flex;
  align-items: center;
}

.sectionTitle {
  font-size: 1.4rem;
  color: white;
}

.reference {
  color: #cacaca;
}

.description {
  color: white;
  margin-left: 5px;
}

.phonePrefix {
  color: #cacaca;
}

a.link:link,
a.link:visited {
  color: white;
}

sidebar dd.contact {
  display: flex;
  align-items: center;
  margin: 3px;
}

i.level {
  display: block;
  width: 33px;
  height: 5px;
  border: 3px solid #776a75;
  border-radius: 6px;
  background: repeating-linear-gradient(
    90deg,
    #c4e2ff,
    #c4e2ff 20%,
    #a4caed 20%,
    #a4caed 40%
  );
}

i.high:after {
  content: "";
  display: block;
  width: 83%;
  height: 5px;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #9be69f,
    #9be69f 25%,
    #6fd7a3 25%,
    #6fd7a3 50%,
    #9be69f 50%,
    #9be69f 75%,
    #6fd7a3 75%,
    #6fd7a3
  );
  z-index: 2;
}

i.mid:after {
  content: "";
  display: block;
  width: 63%;
  height: 5px;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #fef056,
    #fef056 33%,
    #fed12f 33%,
    #fed12f 66%,
    #fef056 66%,
    #fef056
  );
  z-index: 2;
}

i.low:after {
  content: "";
  display: block;
  width: 43%;
  height: 5px;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #f98090,
    #f98090 50%,
    #f7596e 50%,
    #f7596e
  );
  z-index: 2;
}

/*------------------------------------------------*/

main {
  margin-right: 3%;
  margin-top: 3%;
  width: 60%;
}

.about {
  background-color: #7e99b0;
  color: white;
  padding: 4%;
}

.about p {
  margin: 10px 0 0 0;
}

h1 {
  font-size: 2.1rem;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
  margin: 0% 0% 0% 5%;
}

hr.divider {
  border: 0.05rem solid #bbb;
  width: 75%;
}

main .experience {
  margin: 4%;
}

.experience {
  margin: 0;
  font-size: 1.2rem;
}

.experience p {
  margin: 0% 0% 0% 12%;
}

.experience ul {
  font-size: 0.9rem;
}

.experience li {
  margin: 5px 0;
}

.course {
  margin: 14px 0;
}

span.title {
  margin-left: 10%;
  text-decoration: underline;
}

span.date {
  font-size: 0.9rem;
  color: #888888;
}
